/*seatch form*/
.searchBlock {
    margin: auto;
    width: 50%;
    padding: 10px 0;
    text-align: center;
}

.queryField {
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;

    padding: 10px 5px 12px;
    transition: width 0.4s ease-in-out;
}

.searchField {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    margin: 10px;
    background-image: url('../images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.searchField:focus {
    width: 40%;
}

.searchButton {
    vertical-align: sub;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    border: none;
    padding: 7px 11px 7px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .searchField {
        width: 100%;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        margin: 10px;
        background-image: url('../images/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    .searchField:focus {
        width: 100%;
    }
}


/*Book Item */
.bookItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    list-style-type: none;
    line-height: 1.5em;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    border-bottom: 1px solid #f2f0e7;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
}

.detailData {
    padding: 20px;

}

.firstPublish {
    display: block;
}

.bookTable {
    padding-inline-start: 0px;
}

.preloaderImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*Detail Dialog */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    animation-name: appear;
    animation-duration: 300ms;
}

.modalDialog {
    width: 100%;
    max-width: 550px;
    background: white;
    position: relative;
    margin: 0 20px;
    max-height: calc(100vh - 40px);
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: slide-in;
    animation-duration: 0.5s;
}

.modalHeader{
    display: flex;
    align-items: center;
    padding: 1rem;
}
.modalHeader {
    border-bottom: 1px solid #dbdbdb;
    justify-content: space-between;
}

.modalClose {
    cursor: pointer;
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}
.modalBody {
    overflow: auto;
}
.modalContent {
    padding: 1rem;
}

.modalTitle {
    margin: 0;
}



